<template>
    <q-footer elevated class="bg-grey-2 text-grey-5" :elevated="false">
        <q-toolbar>
            <span>by Sergey Shturnev (2019)</span>
<!--            <q-space />-->
<!--            <a class="text-grey-5" href="https://gitlab.com/go-apps-XnjRcS/hosts-helper-gui" target="_blank">Contribute, and sources here</a>-->
        </q-toolbar>
    </q-footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>