<template>
    <q-header elevated class="bg-primary text-white" height-hint="98">
        <q-toolbar>
            <q-toolbar-title>
                SHT-HOSTS-HELPER
            </q-toolbar-title>
            <q-space />
            <span>v1.0.1</span>
        </q-toolbar>
        <!--<q-tabs align="left">
            <q-route-tab to="/" label="Home" />
            <q-route-tab to="/about" label="About" />
            <q-tab name="/page3" label="Page Three" />
        </q-tabs>-->
    </q-header>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>

</style>