<template>
  <q-layout view="hHh lpR fFf">
    <header-component></header-component>

    <q-page-container>
      <div class="q-pa-md">
        <div class="row">
          <div class="col">
            <router-view  />
          </div>
        </div>
      </div>
    </q-page-container>

    <footer-component></footer-component>
  </q-layout>
</template>

<script>
    import HeaderComponent from "./components/Header";
    import FooterComponent from "./components/Footer";

    export default {
        components: {HeaderComponent, FooterComponent},
        name: "App"
    }
</script>