<template>
  <div class="home">
    
    
    <div class="q-gutter-y-md">
      <q-tabs
        v-model="tab"
        dense
        align="justify"
        narrow-indicator
        class=""
      >
        <q-tab name="127.0.0.1" label="127.0.0.1" />
        <q-tab name="others" label="Others" />
      </q-tabs>
    </div>
    
    <!--ERROR BLOCK-->
    <div v-if="error_text"
         class="row bg-red-5 text-white q-pa-md rounded-borders justify-between no-wrap"
         style="max-width: 1024px; margin: 25px auto "
    >
      <div class="text-body1">
        <b>Error: </b>
        <span> {{error_text}} </span>
      </div>
      <q-space></q-space>
      <div>
        <q-btn icon="close" dense flat round @click="error_text = null"></q-btn>
      </div>
    </div>
    
    <!--ADD item-->
    <q-form
      @submit="add_item"
      class="row" style="max-width: 360px; margin: 20px auto;">
      <q-input class="col" bottom-slots v-model="for_add_item.addr" label="Addr" :dense="false" v-if="tab === 'others'"></q-input>
      
      <q-input class="col" bottom-slots v-model="for_add_item.hostname" label="Hostname" :dense="false">
        <!--<template v-slot:hint>
          Reserve hostname for 127.0.0.1
        </template>-->
        <template v-slot:append>
          <q-btn type="submit" round dense flat icon="add" />
        </template>
      </q-input>
    </q-form>
    
    <!--127.0.0.1 list-->
    <template v-if="tab === '127.0.0.1' && all_hosts && all_hosts[tab]">
      
      <!--List localhost items-->
      <ol>
        <li class="item-li" v-for="(v, k) in all_hosts[tab]" :key="v">
          
          <div class="row justify-between items-center">
            <div class="column">
              <p class="text-body1 cursor-pointer" style="margin-bottom: 0; position: relative;" @click="beforeUpdate(k, null)">
                {{v}}
              </p>
            </div>
            <div class="row">
              <q-btn rounded icon="edit" @click="beforeUpdate(k, null)" dense flat></q-btn>
              <q-btn rounded icon="close" dense flat @click="beforeDelete(k, null)"></q-btn>
            </div>
          </div>
        
        </li>
      </ol>
    </template>
    
    <!--Others list-->
    <template v-if="tab === 'others'">
      
      <q-markup-table
        v-if="Object.keys(all_hosts).length"
        class="q-my-lg" separator="none" :bordered="false" :square="false" flat>
        <!--<thead>
        <tr class="bg-light-blue-1">
          <th class="text-left">Addr</th>
          <th class="text-left">Hostname</th>
          <th class="text-right">Controls</th>
        </tr>
        </thead>-->
        <tbody>
        <template v-for="(items, host) in all_hosts" v-if="host !== '#' && host !== '127.0.0.1'">
          <tr v-for="(item, k) in items" class="item-tr" :key="item + host">
            <td class="text-left" style="width: 120px; ">{{host}}</td>
            <td class="text-left">
              <span
                @click="beforeUpdate(k, host)"
                class="text-body1 isTitle cursor-pointer">{{item}}</span>
            
            </td>
            <td class="text-right">
              <q-btn rounded icon="edit" @click="beforeUpdate(k, host)" dense flat></q-btn>
              <q-btn rounded icon="close" dense flat @click="beforeDelete(k, host)"></q-btn>
            </td>
          </tr>
        </template>
        </tbody>
      </q-markup-table>
    </template>
    
    <!--Edit dialog-->
    <q-dialog v-model="prompt" persistent>
      <q-card style="min-width: 320px">
        <q-form
          @submit="updateItem"
        >
          <!--<q-card-section>
            <div class="text-h6">Your address</div>
          </q-card-section>-->
          
          <q-card-section>
            <q-input label="Addr" v-model="for_edit_item.addr" autofocus />
            <q-input label="Hostname" v-model="for_edit_item.hostname" autofocus  />
          </q-card-section>
          
          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="Cancel" v-close-popup />
            <q-btn flat label="Save" type="submit" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  
  </div>
</template>

<script>
  // const randomstring = require("randomstring");

  export default {
    name: 'home',
    data(){
      return{
        HS: null,
        all_hosts: null,
        prompt: false,
        tmp: "",
        error_text: null,
        newHost: null,
        tab: "127.0.0.1",

        tmp_editable_item:{
          index: null,
          addr: null,
          hostname: null
        },
        for_add_item:{},
        for_edit_item:{},
        formLoading: false,

      }
    },
    methods: {
      notify(text = "Saved", color = null){
        this.$q.notify({
          message: text,
          timeout: 2500,
          color
          // textColor:
          // position: "top-right"
        })

      },
      isHostAlreadyExist(hostname){
        if(!Object.keys(this.all_hosts).length){return false;}

        for (let addr in this.all_hosts){
          if(addr[0] === "#"){continue;}
          if(this.all_hosts[addr].indexOf(hostname) !== -1){
            return true;
          }
        }
        return false;
      },
      prepareHostname(type = "add"){
        let obj = type === "add" ? this.for_add_item : this.for_edit_item;
        
        if(!obj.hostname){return;}
        let hostname = obj.hostname;
        hostname = hostname.trim().toLowerCase().replace(/\s+|#+/g, '');

        if(hostname === ""){
          this.notify("Hostname is required, please fill this input", "orange-10")
          return
        }

        
        return hostname;
      },
      async add_item(){
        let hostname = this.prepareHostname();

        //проверить, а не занят ли уже такой host?
        if(this.isHostAlreadyExist(hostname)){
          this.notify(`Sorry, but "${hostname}" is already in use`, "orange-10");
          return
        }

        switch (this.tab) {
          case "127.0.0.1":
            if(!this.all_hosts[this.tab]){
              this.$set(this.all_hosts, this.tab, [hostname])
              // this.all_hosts[this.tab] = [hostname];
            }else{
              this.all_hosts[this.tab].push(hostname);
            }
            break;
          default:
            let addr = this.for_add_item.addr;
            if(!addr || addr[0] === "#"){this.notify(`Please fill "Addr" input`, 'orange-10'); return;}
            addr = addr.trim().toLowerCase().replace(/\s+/g, '');
            if(!addr){this.notify(`Please fill "Addr" input`, 'orange-10'); return;}

            if(!this.all_hosts[addr]){
              this.$set(this.all_hosts, addr, [hostname])
              // this.all_hosts[addr] = [hostname];
            }else{
              this.all_hosts[addr].push(hostname);
            }
        }

        //Сохраним всё это дело
        let res = await this.saveToHostsFile()
        if (res){
          this.for_add_item = _.cloneDeep(this.tmp_editable_item);
        }

      },
      async saveToHostsFile(){
        let forSend = {
          hosts: this.all_hosts
        }

        return this.HS.SaveToFile(JSON.stringify(forSend));
      },
      beforeUpdate(index, addr = null){
        addr = !addr ? this.tab : addr;
        if(!this.all_hosts[addr]){return;}
        if(!this.all_hosts[addr][index]){return;}
        
        this.prompt = true;
        let tmp = {
          index,
          addr,
          hostname: this.all_hosts[addr][index]
        }
        tmp["orig"] = _.cloneDeep(tmp);
        this.for_edit_item = tmp
      },
      async updateItem(){
        let hostname = this.prepareHostname("edit");
        let orig = this.for_edit_item.orig;
        let addr = this.for_edit_item.addr;

        //проверить, а не занят ли уже такой host?
        if(hostname !== orig.hostname && this.isHostAlreadyExist(hostname)){
          this.notify(`Sorry, but "${hostname}" is already in use`, "orange-10");
          return
        }

        if(!addr || addr[0] === "#"){this.notify(`Please fill "Addr" input`, 'orange-10'); return;}
        addr = addr.trim().toLowerCase().replace(/\s+/g, '');
        if(!addr){this.notify(`Please fill "Addr" input`, 'orange-10'); return;}
        
        //удалим старую запись и добавим, новую
        if (orig.addr === addr){
          this.all_hosts[addr][orig.index] = hostname;
        }else{
          this.deleteItem(orig.index, orig.addr, false);
          
          if(!this.all_hosts[addr]){
            this.$set(this.all_hosts, addr, [hostname])
          }else{
            this.all_hosts[addr].push(hostname);
          }
        }


        //Сохраним всё это дело
        let res = await this.saveToHostsFile()
        if (res){
          this.for_edit_item = {};
          this.prompt = false
          this.notify("Saved");
        }

      },
      beforeDelete(index, addr){
        this.$q.dialog({
          title: 'Are you sure?',
          // message: 'Are you sure?',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.deleteItem(index, addr)
        })
      },
      deleteItem(index, addr, notify = true){
        addr = !addr ? this.tab : addr;
        if(!this.all_hosts[addr]){return;}
        this.all_hosts[addr].splice(index, 1);

        if(!this.all_hosts[addr].length){
          delete this.all_hosts[addr]
        }

        this.saveToHostsFile();

        if(notify){
          this.notify("Deleted");
        }
      }

    },
    async created() {
      this.for_add_item = _.cloneDeep(this.tmp_editable_item);
      this.HS = window.backend.HostsStruct;
      await this.HS.Init().catch(err => {
        this.error_text = err;
      })
      this.HS.ShowHosts().then(ev => {
        if (ev) {
          this.all_hosts = ev;
        }
      }).catch(err => {
        this.error_text = err;
      })

    }
  }
</script>
<style scoped lang="scss">
  $primary-color: #027be3;
  
  .item-li, .item-tr{
    $bg: #e3f2fd;
    padding: 10px;
    
    &:nth-of-type(even){
      background-color: lighten($bg, 4.5%);
    }
    
    &:hover{
      background-color: $bg;
      
      p,.isTitle{
        color: #027be3;
      }
    }
  }
</style>